In [1]:
# to fetch data as data frame and perform operations over it
import pandas as pd

In [2]:
# fetching data from csv in the form of data frame
df = pd.read_csv("titanic_prepared_data.csv")

In [3]:
# displaying top 5 lines of data set to know the data
df.head()

,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Embarked_0,Embarked_1,Embarked_2,FamilySize
0,0,1,22.0,7.2500,0,0,1,0,0,1,2
1,1,0,38.0,71.2833,1,0,0,1,0,0,2
2,1,0,26.0,7.9250,0,0,1,0,0,1,1
3,1,0,35.0,53.1000,1,0,0,0,0,1,2
4,0,1,35.0,8.0500,0,0,1,0,0,1,1

In [4]:
# separating out fetures from data set
x = df.iloc[:,1:].values

In [5]:
# separating out labels from data set 
# y is raveled so as to convert list of lists to an single list
y = df.iloc[:,0:1].values.ravel()

In [6]:
# displaying features ie data other than survived
x

array([[  1.        ,  22.        ,   7.25      , ...,   0.        ,
          1.        ,   2.        ],
       [  0.        ,  38.        ,  71.2833    , ...,   0.        ,
          0.        ,   2.        ],
       [  0.        ,  26.        ,   7.925     , ...,   0.        ,
          1.        ,   1.        ],
       ...,
       [  0.        ,  29.69911765,  23.45      , ...,   0.        ,
          1.        ,   4.        ],
       [  1.        ,  26.        ,  30.        , ...,   0.        ,
          0.        ,   1.        ],
       [  1.        ,  32.        ,   7.75      , ...,   1.        ,
          0.        ,   1.        ]])

In [7]:
# displaying labels ie data of survived
y

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

In [8]:
# used of training and testing of machine
from sklearn.model_selection import train_test_split

In [9]:
# training and testing
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)
print X_train.shape, Y_train.shape

(623L, 10L) (623L,)

In [10]:
# using logical regression model
from sklearn.linear_model import LogisticRegression
# to calculate accuracy
from sklearn.metrics import accuracy_score

In [11]:
# to achieve a array of float point numbers
import numpy as np
# list to store accuracy values
l = []
# list to store array of float point numbers
d = []
# converting array of float point numbers achieved by numpy to list
d = np.arange(0.01,1.00,0.01).tolist()
# loop top vary values of C
for b in d:
    # object of Logistic Regression
    clf = LogisticRegression(C=b)
    # fit operation
    clf.fit(X_train, Y_train.ravel())
    # prediction operation
    y_pred_log_reg = clf.predict(X_test)
    # calculating accuracy for each value of C
    acc_log_reg = round (accuracy_score(y_pred_log_reg, Y_test) * 100, 2)
    # appending accuracy to list
    l.append(acc_log_reg)
# calculating max accuracy
m = max(l)
print 'Maximum accuracy value = %s percent \nAt value of C = %s' % (m, d[l.index(max(l))])

Maximum accuracy value = 81.34 percent
At value of C = 0.07

In [12]:
# using K-Nearest Neighbour model
from sklearn.neighbors import KNeighborsClassifier

In [13]:
# list to hold accuracy values
l1=[]
# loop to vary value of K
for a in range(1,100):
    # object of KNN
    clf = KNeighborsClassifier(n_neighbors = a)
    # fitting operation
    clf.fit(X_train, Y_train.ravel())
    # prediction operation
    y_pred_knn = clf.predict (X_test)
    # calculating accuracy for each value of K
    acc_knn = round (accuracy_score(y_pred_knn, Y_test)*100 , 2)
    # appending accuracy to list
    l1.append(acc_knn)
# calculating maximum accuracy
l1_max = max(l1)
# calculation value of K giving maximum accuracy
i = l1.index(max(l1))
i += 1
print "Accuracy by knn is: "+ str(l1_max)+' percent'
print "at  value of k: "+ str(i)

Accuracy by knn is: 75.75 percent
at  value of k: 37

In [14]:
# using Gaussian Naive Bayes classifier Model
from sklearn.naive_bayes import GaussianNB

In [15]:
# object of Gaussian Naive Bayes Algorithm
clf = GaussianNB()
# fit operation
clf.fit(X_train, Y_train.ravel())
# prediction operation 
y_pred_gnb = clf.predict (X_test)
# obtaining accuracy value
acc_gnb = round(accuracy_score(y_pred_gnb, Y_test)*100, 2)
print 'Accuracy by Gaussian Naive Bayes Model is: '+ str(acc_gnb)+' percent'

Accuracy by Gaussian Naive Bayes Model is: 78.36 percent